@page
@model Moolah.Monzo.Pages.PotsModel
@{
}
<div class="row">
    <div class="col-md-12">
        @if (!User.Identity.IsAuthenticated)
        {
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        }
        else
        {
            foreach (var account in Model.AccountPots)
            {
                <h2>@account.Item1.account_number</h2>
                <p>@account.Item1.description</p>
                foreach (var pot in account.Item2.Where(x => !x.deleted))
                {
                    <p>@pot.name: @pot.id</p>
                }
            }
        }
    </div>
</div>